<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
      #app {
        --size: 24px;
      }
      .game-info {
        height: 40px;
        width: 100%;
        background-color: #989898;
        display: flex;
        justify-content: space-around;
        line-height: 40px;
      }
      .mine {
        --border-width: 3px;
        flex-shrink: 0;
        height: var(--size);
        width: var(--size);
        box-sizing: border-box;
        line-height: calc((var(--size) - var(--border-width) * 2));
        font-size: calc((var(--size) - var(--border-width) * 2));
        text-align: center;
        background-color: rgb(192, 192, 192);
        border-width: var(--border-width);
        border-style: solid;
        border-color: rgb(244, 244, 244) rgb(128, 128, 128) rgb(128, 128, 128) rgb(244, 244, 244);
        cursor: pointer;
        user-select: none;
      }
      .mine:hover {
        background-color: rgb(147, 147, 147);
      }
      .mine.clean {
        background-color: transparent;
      }
      input {
        display: inline;
        width: 50px;
      }
      .color1 {
        color: rgb(0, 0, 255);
      }
      .color2 {
        color: rgb(0, 128, 0);
      }
      .color3 {
        color: rgb(255, 0, 0);
      }
      .color4 {
        color: rgb(128, 0, 128);
      }
      .color5 {
        color: rgb(128, 0, 0);
      }
      .color6 {
        color: rgb(165, 42, 42);
      }
      .color7 {
        color: rgb(0, 255, 255);
      }
      .color8 {
        color: rgb(0, 0, 0);
      }
    </style>
  </head>
  <body>
    <!-- 组件仅仅是为了 不让app vDom全量对比 -->
    <div id="app">
      <div style="width: min-content">
        <game-info class="game-info">
          <span>剩余旗帜:{{flag}}</span>
          <span>时间:{{time}}s</span>
        </game-info>
        <div style="display: flex" v-for="(rowArr,r) in minefield" :key="r">
          <mine-list>
            <b
              v-for="(mine,c) in rowArr"
              :class="{ mine: true, clean: mine.cleaned, [mine.color]: true }"
              :key="c"
              @mousedown.left="onClick(r,c)"
              @contextmenu.prevent="onRightClick(r,c)"
            >
              {{mine.content}}
            </b>
          </mine-list>
        </div>
      </div>
      难度：
      <select @change="(e)=>setMode(e.target.value)">
        <option v-for="item in optionalMode" :value="item" :selected="mode===item">{{item}}</option>
      </select>
      <button @click="customMode" ref="btn">自定义</button>
      <div v-show="showCustom">
        行：
        <input type="number" min="0" max="100" v-model="customRow" />
        列：
        <input type="number" min="0" max="100" v-model="customColumn" />
        地雷数量：
        <input type="number" min="0" max="10000" v-model="customMine" />
      </div>
    </div>

    <script>
      const FLAG = "🚩"
      const MINE = "💣"
      const BLANK = ""
      const { random, trunc } = Math
      const gameModeConfig = (() => {
        class MineMap {
          time = 0
          firstClick = true
          constructor({ row, column, mineNum }) {
            this.row = row
            this.column = column
            this.mineNum = mineNum
            this.flag = mineNum
            MineMap.inOutside = (r, c) => {
              return r < 0 || r >= this.row || c < 0 || c >= this.column
            }
            MineMap.directions = [
              [-1, 0],
              [0, -1],
              [0, 1],
              [1, 0],
              [-1, -1],
              [1, 1],
              [1, -1],
              [-1, 1],
            ]
            this.minefield = (() => {
              const mineProto = {
                get isMine() {
                  return this.type === 1
                },
                get withContent() {
                  return this.content !== BLANK
                },
                // 计算八个格子有多少地雷
                get aroundMinesNum() {
                  let sum = 0
                  for (const [dr, dc] of MineMap.directions) {
                    sum +=
                      MineMap.inOutside(this._r + dr, this._c + dc) ||
                      !minefield[this._r + dr][this._c + dc].isMine
                        ? 0
                        : 1
                  }
                  return sum
                },
                // 是否可以扩散格子
                get canExpand() {
                  return this.aroundMinesNum === 0
                },
                // 扩散格子
                expand(r, c, minefield, row_index_list = new Set()) {
                  if (
                    MineMap.inOutside(r, c) ||
                    minefield[r][c].cleaned ||
                    minefield[r][c].content === FLAG
                  ) {
                    return row_index_list
                  }
                  const block = minefield[r][c]
                  let num = block.aroundMinesNum
                  if (num) {
                    block.cleaned = true
                    block.content = num
                    block.color = `color${num}`
                    row_index_list.add(r)
                    return row_index_list
                  } else {
                    block.cleaned = true
                    for (const [dr, dc] of MineMap.directions) {
                      this.expand(r + dr, c + dc, minefield, row_index_list)
                    }
                    row_index_list.add(r)
                    return row_index_list
                  }
                },
                sweepOut() {
                  if (this.aroundMinesNum === 0 && !minefield[this._r][this._c].isMine) return
                  let for_count = 0
                  while (1) {
                    for (const [dr, dc] of [...MineMap.directions, [0, 0]]) {
                      if (MineMap.inOutside(this._r + dr, this._c + dc)) continue
                      const block = minefield[this._r + dr][this._c + dc]
                      if (block.isMine) {
                        const _block = minefield[trunc(random() * row)][trunc(random() * column)]
                        const temp = block.type
                        block.type = _block.type
                        _block.type = temp
                      }
                    }
                    for_count++
                    if (this.aroundMinesNum === 0 && !minefield[this._r][this._c].isMine) return
                    if (for_count === 99) {
                      alert("炸弹太多了 请减少一些")
                      return
                    }
                  }
                },
              }
              const minefield = Array.from({ length: row }, (_, r) => {
                return Array.from({ length: column }, (_, c) =>
                  Object.assign(Object.create(mineProto), {
                    _r: r,
                    _c: c,
                    type: r * column + c < mineNum ? 1 : 0,
                    content: BLANK,
                    cleaned: false,
                    color: "",
                  }),
                )
              })
              return minefield
            })()
          }
        }
        const modeList = {
          easy: { row: 9, column: 9, mineNum: 10 },
          middle: { row: 16, column: 16, mineNum: 40 },
          hard: { row: 16, column: 30, mineNum: 99 },
          extreme: { row: 24, column: 45, mineNum: 230 },
          nightmare: { row: 50, column: 50, mineNum: 580 },
          legend: { row: 100, column: 100, mineNum: 2200 },
        }
        return { modeList, gen: (mode) => new MineMap(modeList[mode]) }
      })()

      const { createApp, ref, reactive, onBeforeMount, watch, h, toRaw, toRefs, computed } = Vue

      const app = createApp({
        setup() {
          const storageMode = JSON.parse(localStorage.getItem("modeConfig")) || {}
          // 合并配置项
          Object.assign(gameModeConfig.modeList, storageMode)

          const mode = ref(Object.keys(storageMode)[0] || "easy")
          const setMode = (value) => {
            mode.value = value
            localStorage.setItem("modeConfig", JSON.stringify({ [mode.value]: modeList[mode.value] }))
          }

          /**
           * @typedef {Object} modeConfig
           * @property {number} time - 游戏时间
           * @property {number} row - 行数
           * @property {number} column - 列数
           * @property {number} mineNum - 地雷数量
           * @property {number} flag - 旗帜数量
           * @property {Object[][]} minefield - 地雷场地图
           */
          const modeConfig = reactive(gameModeConfig.gen(mode.value))
          const modeList = reactive(gameModeConfig.modeList)
          const optionalMode = computed(() => Object.keys(modeList))

          const {
            row,
            column,
            mineNum,
            minefield: map,
            time,
            flag,
            firstClick,
          } = toRefs(modeConfig)
          // 可以像reactive一样使用
          const minefield = new Proxy(map, {
            get: (target, prop) => target.value[prop],
            set: (target, prop, value) => (target.value[prop] = value),
          })

          const onClick = (r, c) => {
            const block = minefield[r][c]
            if (block.withContent) return
            if (firstClick.value) {
              block.sweepOut()
              firstClick.value = false
            }
            if (block.isMine) {
              block.cleaned = true
              block.content = MINE
              fail()
              return
            }
            // 当块达到一万以上 reactive的getter可能会造成性能问题 所以使用原数组 后续手动更新
            const rawMap = toRaw(minefield)
            if (block.canExpand) {
              const row_index_list = block.expand(r, c, rawMap)
              // 手动触发所有行子组件更新
              for (let ri of row_index_list) {
                let temp = minefield[ri][0].content
                minefield[ri][0].content = "_"
                minefield[ri][0].content = temp
              }
              return
            }
            const num = (block.content = block.aroundMinesNum)
            block.color = `color${num}`
            block.cleaned = true
          }
          const onRightClick = (r, c) => {
            const block = minefield[r][c]
            if (block.cleaned) return
            if (block.content === FLAG) {
              if (block.isMine) {
                mineNum.value++
              }
              block.content = BLANK
              flag.value++
              return
            }
            if (flag.value <= 0) return
            block.content = FLAG
            flag.value--
            if (block.isMine) {
              mineNum.value--
            }
          }
          // 打乱炸弹
          const setupMine = () => {
            let r = row.value,
              c = column.value
            for (let i = 0; i < mineNum.value; i++) {
              const mineType = minefield[trunc(i / c)][i % c].type
              const rand_i = trunc(random() * c * r)
              const _r = trunc(rand_i / c),
                _c = rand_i % c
              const targetType = minefield[_r][_c].type
              minefield[trunc(i / c)][i % c].type = targetType
              minefield[_r][_c].type = mineType
            }
          }

          onBeforeMount(setupMine)

          const showCustom = ref(false)
          const btn = ref()
          const customRow = ref(modeList[mode.value].row)
          const customColumn = ref(modeList[mode.value].column)
          const customMine = ref(modeList[mode.value].mineNum)

          // 自定义难度
          const customMode = () => {
            if (btn.value.textContent === "确认") {
              const yes = confirm(
                `将创建${customRow.value}行,${customColumn.value}列,${customMine.value}个炸弹的难度`,
              )
              if (yes) {
                Object.assign(modeList, {
                  custom: {
                    row: +customRow.value,
                    column: +customColumn.value,
                    mineNum: +customMine.value,
                  },
                })
                setMode("custom")
              }
              showCustom.value = false
              btn.value.textContent = "自定义"
            } else {
              showCustom.value = true
              btn.value.textContent = "确认"
            }
          }

          // 重配置
          const reConfigure = () => {
            Object.assign(modeConfig, gameModeConfig.gen(mode.value))
            setupMine()
          }

          const waitingForRender = (fn) => {
            requestAnimationFrame(() =>
              requestAnimationFrame(() => {
                fn()
              }),
            )
          }
          // 游戏失败
          const fail = () => {
            waitingForRender(() => {
              clearInterval(timer)
              alert("游戏结束")
              reConfigure()
            })
          }

          // 通过游戏
          const win = () => {
            waitingForRender(() => {
              clearInterval(timer)
              alert(`You Win! 用时${time.value}s`)
              reConfigure()
            })
          }

          // 计时
          let timer
          const timekeeping = () => {
            timer = setInterval(() => {
              time.value++
            }, 1000)
          }

          // 切换难度
          watch(mode, () => {
            customRow.value = modeList[mode.value].row
            customColumn.value = modeList[mode.value].column
            customMine.value = modeList[mode.value].mineNum
            clearInterval(timer)
            reConfigure()
          })

          // 首次点击后开始计时
          watch(firstClick, (value) => {
            if (value === false) {
              timekeeping()
            }
          })

          // 炸弹为0 通过游戏
          watch(mineNum, (value) => {
            if (value === 0) {
              win()
            }
          })

          return {
            optionalMode,
            mode,
            setMode,
            ...toRefs(modeConfig),
            onClick,
            onRightClick,
            customMode,
            showCustom,
            btn,
            customRow,
            customColumn,
            customMine,
          }
        },
      })
        .component("mine-list", {
          setup(props, { slots }) {
            return () => slots.default()
          },
        })
        .component("game-info", {
          setup(props, { slots }) {
            return () => h("div", slots.default())
          },
        })
        .mount("#app")
    </script>
  </body>
</html>
